body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(237,237,237,1) 100%);
}
header{
    text-align: center;
}
nav{
    position: absolute;
    top: 20px;
    display: flex;
    gap: 20px;

}
nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
     text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), /* Підсвічення для ефекту світіння */
               0 0 15px rgba(120, 120, 120, 0.6);
}


.big-logo{

    height: 100vh;
    width: 100%;
    background-image: url('https://learn.logikaschool.com/uploads/student/4630284/6701067e0e4c7.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 100px;
    width: 220px;
    background-color: rgb(207, 207, 207, 0.5);
    padding: 5px;
}

.con{
    margin-top: 100px;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.photo {
    height: auto;
    width: 70%;
    box-shadow: 0 0 50px 10px black;
    height: fit-content;
}
.photo img{
    width: 100%;
}
.text1, .text2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text1 p, .text2 p{
    color: aliceblue;
    font-size: 24px;
    text-align: justify;
    padding: 20px 20px 0 20px;
    background-color: rgb(139, 139, 139, 0.8);
}
.text1{
    right: 10%;
}
.text2{
    left: 10%;
}

