body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0;
    background-color: rgb(251, 251, 251);
}
header{
    text-align: center;
}
nav{

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 75px;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
     text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), /* Підсвічення для ефекту світіння */
               0 0 15px rgba(120, 120, 120, 0.6);
}


.car1 {
    padding-top: 50px; /* Трохи зменшено padding */
    display: flex;
    justify-content: center;
    align-items: center; /* Центрування контенту */
    flex-direction: column;
    width: 100%;
    max-width: 1200px; /* Встановлено максимальну ширину для зручного перегляду */
    margin: 0 auto; /* Центрування контенту */
}

.car1 img {
    flex: 1;
    max-width: 100%; /* Зображення займає всю доступну ширину */
    height: auto;
    margin: 20px 0; /* Відступ зверху і знизу */
    border-radius: 10px; /* Додаємо округлені кути для зображення */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Легка тінь для зображення */
}

.big {
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
    margin-bottom: 20px; /* Додаємо відступ знизу для зручності читання */
    text-align: justify; /* Вирівнювання по ширині для рівного вигляду */
}

.small {
    font-size: 18px; /* Зменшений розмір тексту для невеликих абзаців */
    margin-bottom: 20px;
    text-align: justify; /* Вирівнювання по ширині */
    transition: 0.3s;
}

.big:hover {
    text-shadow: 0 0 8px rgba(69, 69, 69, 0.6), /* Підсвічення для ефекту світіння */
               0 0 15px rgba(120, 120, 120, 0.4);
}

.small:hover {
    text-shadow: 0 0 8px rgba(69, 69, 69, 0.7), /* Підсвічення для ефекту світіння */
               0 0 15px rgba(120, 120, 120, 0.5);
}
